#contents {
  margin-top: 82px;
}

footer {
  margin-top: 32px;
  margin-bottom: 32px;
}

.po {
  cursor: pointer;
}

@media (max-width: 500px) {
  .toast {
    width: auto;
  }
}
.cd-cart::before {
  content: "";
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart__trigger,
.cd-cart__content {
  position: fixed;
  bottom: 32px;
  right: 5%;
  transition: transform 0.2s;
  transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
}
.cd-cart--empty .cd-cart__trigger,
.cd-cart--empty .cd-cart__content {
  transform: translateY(150px);
}

.cd-cart__trigger {
  z-index: 3;
  height: 72px;
  width: 72px;
  overflow: visible;
  border-radius: 8px;
}
.cd-cart__trigger::after, .cd-cart__trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 100%;
  width: 100%;
  background: url(/assets/img/cd-icons-cart-close.svg) no-repeat 0 0;
  transition: opacity 0.2s, transform 0.2s;
}
.cd-cart__trigger::after {
  background-position: -72px 0;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}
.cart-open .cd-cart__trigger::before {
  opacity: 0;
}
.cart-open .cd-cart__trigger::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}
.cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}
.cart-open .cd-cart__trigger:hover + .cd-cart__content .cd-cart__layout {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart__count {
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #dc3545;
  color: hsl(0deg, 0%, 100%);
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: transform 0.2s 0.5s;
  list-style: none;
  padding: 0;
}
.cd-cart__count li {
  position: absolute;
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-fill-mode: forwards;
  animation-duration: 0.15s;
}
.cd-cart__count li:last-of-type {
  visibility: hidden;
}

.cd-cart__count--update li:last-of-type {
  animation-name: cd-qty-enter;
}

.cd-cart__count--update li:first-of-type {
  animation-name: cd-qty-leave;
}

.cart-open .cd-cart__count {
  transition: transform 0.2s 0s;
  transform: scale(0);
}

.cd-cart--empty .cd-cart__count {
  transform: scale(1);
}

.cd-cart__content {
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}

.cd-cart__layout {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 8px;
  transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
  display: flex;
  flex-direction: column;
}

.cart-open .cd-cart__layout {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cd-cart__header, .cd-cart__body {
  opacity: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.cart-open .cd-cart__header,
.cart-open .cd-cart__body {
  opacity: 1;
}

.cd-cart__header {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
  height: 40px;
  line-height: 40px;
  background-color: hsl(0deg, 0%, 100%);
  transition: opacity 0.2s 0s;
  border-bottom: 1px solid hsl(0deg, 0%, 100%);
}

.cart-open .cd-cart__header {
  transition: opacity 0.2s 0.2s;
}

.cd-cart__undo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  color: #212529;
  font-size: 12px;
}
.cd-cart__undo a {
  text-decoration: underline;
  color: #212529;
}
.cd-cart__undo a:hover {
  color: hsl(204deg, 73%, 52%);
}

.cd-cart__undo--visible {
  opacity: 1;
  visibility: visible;
}

.cd-cart__body {
  flex-grow: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}
.cd-cart__body ul {
  position: relative;
  padding-bottom: 60px;
  padding-left: 0;
}

.cart-open .cd-cart__body {
  transition: opacity 0s;
}
.cart-open .cd-cart__body li {
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  opacity: 1;
  transform: translateX(0);
}
.cart-open .cd-cart__body li:nth-of-type(2) {
  transition-duration: 0.4s;
}
.cart-open .cd-cart__body li:nth-of-type(3) {
  transition-duration: 0.5s;
}
.cart-open .cd-cart__body li:nth-of-type(4), .cart-open .cd-cart__body li:nth-of-type(5) {
  transition-duration: 0.55s;
}

.cd-cart__product {
  position: relative;
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0s 0.2s, transform 0s 0.2s;
  display: flex;
}
.cd-cart__product:not(:last-of-type) {
  margin-bottom: 12px;
}
.cd-cart__product a {
  text-decoration: none;
}

.cd-cart__product--deleted {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  animation: cd-item-slide-out 0.3s forwards;
}

.cd-cart__product--deleted.cd-cart__product--undo {
  animation: cd-item-slide-in 0.3s forwards;
}

.cd-cart__product--deleted + .cd-cart__product {
  animation: cd-item-move-up-mobile 0.3s;
  animation-fill-mode: forwards;
}

.cd-cart__product--undo + .cd-cart__product {
  animation: cd-item-move-down-mobile 0.3s;
  animation-fill-mode: forwards;
}

.cd-cart__image {
  display: inline-block;
  flex-shrink: 0;
}
.cd-cart__image img {
  display: block;
  width: 90px;
  height: 90px;
}

.cart-details {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  padding-top: 12px;
  padding-left: 12px;
}
.cart-details h3 {
  font-weight: bold;
  width: 70%;
  font-size: 16px;
}
.cart-details h3 a {
  color: inherit;
}
.cart-details h3 a:hover {
  color: #dc3545;
}
.cart-details h3 a span {
  font-size: 0.8rem;
  color: #212529;
  display: block;
}

.cart-price {
  width: 30%;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.cd-cart__actions {
  display: flex;
  font-size: 12px;
}

.cart-delete-item, .cart-qty {
  color: #212529;
  backface-visibility: hidden;
}

.cart-delete-item {
  margin-right: 8px;
}
.cart-delete-item:hover {
  color: #dc3545;
}

.cart-qty {
  display: flex;
}
.cart-qty label {
  margin-right: 4px;
}

.cart-select {
  position: relative;
}
.cart-select input {
  padding: 0 8px 0 0;
  width: 60px;
}
.cart-select select {
  position: relative;
  padding: 0 8px 0 0;
  cursor: pointer;
  color: currentColor;
  border: 0;
}
.cart-select select:focus {
  outline: none;
  color: #dc3545;
  box-shadow: 0 1px 0 currentColor;
}
.cart-select select::-ms-expand {
  display: none;
}
.cart-select .icon {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  color: currentColor;
  pointer-events: none;
}

.cd-cart__footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: hsl(0deg, 0%, 100%);
}

.cart-checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background: #dc3545;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.2s 0s;
}
.cart-checkout:hover {
  opacity: 0.98;
}
.cart-checkout em {
  position: relative;
  display: inline-block;
  transform: translateX(80px);
  transition: transform 0s 0.2s;
  font-style: inherit;
  background: #dc3545;
}
.cart-checkout .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
  color: currentColor;
  height: 1em;
  width: 1em;
  line-height: 1;
  flex-shrink: 0;
  display: inline-block;
}

.cart-open .cart-checkout {
  color: hsl(0deg, 0%, 100%);
  transition: color 0.2s 0.3s;
}
.cart-open .cart-checkout em {
  transform: translateX(0);
  transition: transform 0.3s 0.1s, padding 0.2s 0s;
  opacity: 1;
}
.cart-open .cart-checkout:hover em {
  padding-right: 30px;
}
.cart-open .cart-checkout:hover .icon {
  opacity: 1;
}

@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 62px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 102px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 62px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 102px;
  }
}
@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
}
.cd-main h1 {
  color: #212529;
}

.cd-add-to-cart,
.cd-article-link {
  display: inline-block;
  padding: 16px 16px;
  border-radius: 50em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-size: 12px;
  transition: all 0.2s;
}

.cd-add-to-cart {
  background: hsl(204deg, 73%, 52%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-add-to-cart:hover {
  background: hsl(204deg, 73%, 52%);
}
.cd-add-to-cart:active {
  transform: scale(0.9);
}

.cd-article-link {
  color: #212529;
  background-color: hsl(192deg, 15%, 94%);
}
.cd-article-link:hover {
  background-color: hsl(192deg, 15%, 94%);
}

.loader .dots span {
  background-color: #dc3545;
}

body {
  font-family: Roboto;
}

/* bootstrap */
.badge.bg-danger {
  background-color: #dc3545 !important;
}

/* header start */
header {
  padding: 8px 0px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all ease-in 0.24s;
}

header .img-responsive {
  width: 100%;
  transition: all ease-in 0.24s;
}

@media screen and (max-width: 640px) {
  header .img-responsive {
    width: 80%;
  }
}
header .logo-block figure {
  margin-bottom: 0;
  width: 180px;
  text-align: center;
}

header.logo-only-header {
  z-index: 123;
}

header.scrolled {
  background: #fafafa;
  width: 100%;
  padding: 3px 0;
  box-shadow: 1px 1px 10px 1px #ddd;
}

header.scrolled img {
  transform: scale(0.84);
}

@media (max-width: 768px) {
  .menu-block .container-fluid, .navbar-collapse {
    padding-right: 15px;
  }
  .download-popup .download-app-text, .big-image figure img, .banner-text .popular-tags, .carousel-container, .top-description > p, .food-image, .pricing-banner .banner-text, .comment-form p.comment-form-author, .comment-form p.comment-form-email, .artilce-info > span, .article-info .article-tags, .social-share > span, .social-share ul, .comment-body figure img, .top.admin figure img, .blog-left-content-full .comment-form p.comment-form-author, .blog-left-content-full .comment-form p.comment-form-email, .blog-left-content-full blockquote, .right-form-block, select.select-program, .download-app-block .left-mobile, .download-app-block .download-app-text, .download-from a img, .testimonials-block .testimonials, .blog-admin, .select-payment-btns .select-payment-btn, .payment-form form fieldset:last-of-type input[type=submit], .img-text-center p, .testimonial-box-wrap, .blog-single-wrap figure img {
    width: 100%;
  }
}
.hamburger-menu {
  z-index: 2;
}

.hamburger-menu button {
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-menu button span {
  position: absolute;
  height: 3px;
  background: #323232;
  width: 100%;
  left: 0px;
  top: 0px;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.hamburger-menu button span:nth-child(2) {
  top: 9px;
}

.hamburger-menu button span:nth-child(3) {
  top: 18px;
}

.hamburger-menu [data-state=open] span:first-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

.hamburger-menu [data-state=open] span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger-menu [data-state=open] span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
}

nav.menu-cont .menu-close {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 2rem;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

nav.menu-cont .menu-close:hover {
  margin-left: 4px;
}

nav.menu-cont {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background: #dc3545;
  color: #fcf0ef;
  width: 300px;
  z-index: 123;
  padding-top: 0px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.24s cubic-bezier(0.52, 0.01, 0.8, 1);
  transition: 0.24s cubic-bezier(0.52, 0.01, 0.8, 1);
}

nav.menu-cont ul {
  list-style: none;
}

nav.menu-cont li {
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
  -webkit-transition: 0.16s cubic-bezier(0.44, 0.09, 0.46, 0.84);
  transition: 0.16s cubic-bezier(0.44, 0.09, 0.46, 0.84);
  opacity: 0;
}

nav.menu-cont a {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

nav.menu-cont a:hover {
  text-decoration: underline;
  color: #fcf0ef;
  margin-left: 4px;
}

nav.menu-cont[data-state=open] {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

nav.menu-cont[data-state=open] ul li:nth-child(1) {
  -webkit-transition-delay: 0.16s;
  transition-delay: 0.16s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.menu-cont[data-state=open] ul li:nth-child(2) {
  -webkit-transition-delay: 0.32s;
  transition-delay: 0.32s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.menu-cont[data-state=open] ul li:nth-child(3) {
  -webkit-transition-delay: 0.48s;
  transition-delay: 0.48s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.menu-cont[data-state=open] ul li:nth-child(4) {
  -webkit-transition-delay: 0.64s;
  transition-delay: 0.64s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

#header {
  width: 100%;
  position: fixed;
  z-index: 200;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #CDCDCD;
  box-shadow: 0px 0px 28px 12px rgba(31, 31, 31, 0.07);
}

.hcc {
  min-height: 110px;
  width: 100%;
  display: block;
}

.scrolled #header .hc {
  padding-top: 12px;
  padding-bottom: 12px;
}

.scrolled .kpb {
  display: none;
}

.scrolled .ait {
  padding-top: 14px;
}

#header .hc {
  display: flex;
  align-items: center;
  position: relative;
  background: #fff;
  padding: 24px 0px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 1190px) {
  #header .hc {
    padding: 24px 15px;
  }
  .scrolled #header .hc {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 10924px) {
  .hcc {
    min-height: 97px;
  }
}
@media screen and (max-width: 767px) {
  #header .hc {
    padding: 12px 31px;
  }
  .scrolled #header .hc {
    padding-top: 0;
    padding-bottom: 0;
  }
  .hcc {
    min-height: 73px;
  }
}
@media screen and (max-width: 400px) {
  #header .hc {
    padding: 8px 10px;
  }
  .hcc {
    min-height: 65px;
  }
}
.home #header .hc {
  background: #F7F7F7;
  border-bottom: none;
  box-shadow: none;
}

.home #header .hc .search-holder input {
  background: #F7F7F7;
}

#header .logo {
  margin-right: 23px;
}

body.menu-active .menu-drop {
  opacity: 1;
  visibility: visible;
  max-height: 4000px;
  transform: translateY(0);
}

.cat-controls {
  overflow: hidden;
}

.cat-controls .tags-holder {
  position: relative;
}

.cat-controls .slideset .slide {
  margin-right: 11px;
}

.cat-controls .slideset .slide:last-child {
  margin-right: 150px;
}

.cat-controls .slideset .slide a {
  background: #fff;
  text-align: center;
  color: #323232;
  padding: 8px 12px;
  display: block;
  border-radius: 4px;
  border: 2px solid transparent;
  text-decoration: none;
}

.cat-controls .slideset .slide a:hover, .cat-controls .slideset .slide a.active {
  background: #fff;
  border-color: #dc3545;
}

.tags-holder {
  float: left;
  width: calc(100% - 1px);
}

.tags-holder .cata-sub-nav {
  white-space: normal;
}

.tags-holder .cata-sub-nav.head {
  white-space: nowrap;
}

.cata-sub-nav {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.cata-sub-nav .slideset {
  margin: 0;
  display: flex;
  -webkit-padding-start: 0px;
}

.cata-sub-nav .slideset .slide {
  display: inline-table;
}

.cata-sub-nav::-webkit-scrollbar {
  display: none;
}

.arrow-holder {
  position: absolute;
  right: 10px;
  margin-top: -22px;
  z-index: 99;
  top: 50%;
  margin-top: -12px;
}

@media screen and (max-width: 992px) {
  .arrow-holder {
    right: 0;
  }
}
.arrow-holder:after {
  content: "";
  margin-top: -25px;
  width: 100px;
  height: 62px;
  z-index: 1;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 80%);
}

@media screen and (max-width: 992px) {
  .arrow-holder:after {
    width: 20px;
  }
}
.arrow-holder.arrow-holder-prev {
  right: auto;
  left: 10px;
}

@media screen and (max-width: 992px) {
  .arrow-holder.arrow-holder-prev {
    left: 0;
  }
}
.arrow-holder.arrow-holder-prev:after {
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  right: auto;
  bottom: 0;
  left: -22px;
}

@media screen and (max-width: 992px) {
  .arrow-holder.arrow-holder-prev:after {
    left: 0;
  }
}
.arrow-holder.arrow-holder-next:after {
  position: absolute;
  top: 50%;
  right: -20px;
  bottom: 0;
  left: auto;
}

@media screen and (max-width: 992px) {
  .arrow-holder.arrow-holder-next:after {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .arrow-holder .arrow {
    display: none;
  }
}
.arrow {
  width: 25px;
  height: 25px;
  font-size: 28px;
  line-height: 25px;
  color: #323232;
  text-align: center;
}

.arrow:hover {
  cursor: pointer;
  color: #dc3545;
}

.arrow span {
  position: relative;
  z-index: 5;
}

.clear-search {
  fill: #6c757d;
}

.clear-search:hover {
  fill: #212529;
}

select.form-select:focus {
  border-color: rgba(220, 53, 69, 0.5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

input.form-control:focus {
  border-color: rgba(220, 53, 69, 0.5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

select.input-color:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #dc3545;
}

.accordion-button:not(.collapsed) {
  background-color: #fcf0ef;
}

.accordion-button:focus {
  border-color: #fcf0ef;
  box-shadow: 0 0 0 0.25rem rgba(223, 25, 25, 0.25);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dc3545'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.breadcrumb:empty {
  display: none;
}

.deemphasize {
  opacity: 0.01;
  transition: opacity 0.24s;
}

.deemphasize input.form-control {
  opacity: 0.8 !important;
}

.accordion .item {
  cursor: pointer;
}

.sketch #svg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.sketch #svg rect {
  stroke-width: 2px;
  stroke: #dc3545;
  fill: rgb(255, 255, 255);
}

.sketch #svg rect {
  stroke-width: 2px;
  stroke: #dc3545;
  fill: rgb(255, 255, 255);
}

.sketch #svg path {
  stroke-width: 3px;
  stroke: #dc3545;
  fill: rgba(255, 255, 255, 0);
}

.sketch #svg polyline {
  stroke-width: 3px;
  stroke: #dc3545;
  fill: rgb(255, 255, 255);
}

.sketch .svg-input {
  position: absolute;
  z-index: 3;
  transform: translate(-32px, -32px);
}

.sketch .svg-input:hover {
  z-index: 6;
}

.sketch .svg-input label {
  color: #dc3545;
  font-size: 19px;
  font-weight: bold;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff;
}

.sketch .svg-input input {
  opacity: 0.8;
  width: 60px;
  transition: all 0.24s;
}

.sketch .svg-input:hover input, .sketch .svg-input input:focus {
  opacity: 1;
}
